<!-- <div class="print-out">
  <span *ngFor="let name of names" class="racer-name">{{ name }}</span>
</div> -->

<h2 class="text-center pt-2 pb-3">Run-Bike Ballots</h2>
<div class="print-out">
  <span *ngFor="let name of cat1Names" class="racer-name">{{ name }}</span>
</div>

<h2 class="text-center pt-2 pb-3">Grade 1-Under Ballots</h2>
<div class="print-out">
  <span *ngFor="let name of cat2Names" class="racer-name">{{ name }}</span>
</div>

<h2 class="text-center pt-2 pb-3">Grade 2-3 Ballots</h2>
<div class="print-out">
  <span *ngFor="let name of cat3Names" class="racer-name">{{ name }}</span>
</div>

<h2 class="text-center pt-2 pb-3">Grade 4-6 Ballots</h2>
<div class="print-out">
  <span *ngFor="let name of cat4Names" class="racer-name">{{ name }}</span>
</div>

<h2 class="text-center pt-2 pb-3">Jr. High Ballots</h2>
<div class="print-out">
  <span *ngFor="let name of cat5Names" class="racer-name">{{ name }}</span>
</div>

<h2 class="text-center pt-2 pb-3">Adult Ballots</h2>
<div class="print-out">
  <span *ngFor="let name of cat6Names" class="racer-name">{{ name }}</span>
</div>
