<div class="main" *ngIf="dataService.isLoggedIn && dataService.isLoaded">
  <div class="main--header text-center">
    <h1>Reset Account Password</h1>
    <hr />
  </div>
  <!-- End of main header -->
  <div class="main-content my-test">
    <!-- Results Admin Div-->
    <div class="results-admin" [formGroup]="passwordForm">
      <div class="text-center my-5">
        <div class="form-group">
          <label>Account Username</label>
          <input type="text" style="text-align: center;" formControlName="username" class="form-control" required />
        </div>
        <div class="row">
          <div class="col">
            <label>New Password</label>
            <input type="password" formControlName="password" class="form-control" required />
          </div>
          <div class="col">
            <label>Confirm password</label>
            <input type="password" formControlName="confirmedPassword" class="form-control" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <button type="cancel" class="btn btn-block btn-danger" [routerLink]="['/admin/settings']">
              Cancel
            </button>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input
              class="btn btn-block btn-success"
              value="Submit"
              [disabled]="!passwordForm.valid"
              (click)="onSubmit()"
            />
          </div>
        </div>
      </div>
    </div>
    <!--End of Results Admin -->
  </div>
  <!-- End of main content -->
</div>
<!--End of main-->
