@import "./../../globals";

.main{
    width: 300px;

    &--header{
        font-size: $base-font-size * 2;
    }

    &__form{

        &__group{
            margin-top: 15px;
        }

        &--button{
            margin-top: 15px;
        }
    }
}