<div class="main">
  <div class="main--header">
    About
  </div>
  <div class="main--content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut vehicula augue, eget tincidunt dui. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In imperdiet augue ut velit
    suscipit, dictum elementum neque scelerisque. Phasellus sagittis cursus quam vel laoreet. Donec et aliquet lorem.
    Cras euismod, erat sit amet luctus volutpat, arcu elit elementum sapien, venenatis fermentum nisi tellus vel augue.
    Sed semper rutrum augue nec rutrum. Ut nisl neque, lobortis in lectus eu, vulputate lobortis est. Cras vitae
    interdum sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sit
    amet turpis lacinia, consectetur leo sagittis, interdum tellus. Cras tristique sapien non lorem sollicitudin, nec
    cursus odio iaculis. Suspendisse blandit neque nec eleifend convallis. Mauris eget libero odio. Maecenas non nunc
    dignissim, laoreet orci ut, vestibulum nisl. Phasellus at sapien a purus sollicitudin lacinia.

    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
  </div>
</div>
