<div class="main" *ngIf="dataService.isLoaded">
  <div class="main--content">
    <div class="main--header text-center pb-3 pt-5">
      <strong>2019 Season Details</strong>
    </div>

    <p>
      <strong>Info:</strong>
      Register online. Check in at 5:45-6:15pm each race night, then groups start by race category at 6:30pm, the
      youngest group goes for 10 minutes, juniors 20 minutes, adults 30 minutes. Get in as many laps as you can.
    </p>

    <p>
      <strong>Price:</strong>
      $15 plus $5 for plate fee if you need one.
    </p>

    <p><strong>Spring:</strong> 6 nights, every Tuesday starting May 7th.</p>

    <p><strong>Fall:</strong> 4 nights, every Tuesday starting Sept 10th.</p>

    <p>
      <strong>Where:</strong> Top of Young St. in Truro at the old dump entrance (roughly 745 Young St). Follow signs
      and the crowd.
    </p>

    <div class="text-center py-4 desktop">
      <img src="../assets/img/TownOfTruro.jpeg" alt="Truro Logo" class=" rounded truro-image" />
      <a
        href="https://www.google.com/maps/place/745+Young+St,+Truro,+NS+B2N+3Y6/@45.3408945,-63.2682411,789m/data=!3m1!1e3!4m5!3m4!1s0x4b59501abb337e7b:0x819ac7971db094aa!8m2!3d45.3399975!4d-63.2670021"
        target="_blank"
        ><img src="../assets/img/Railyard_Logo.png" alt="Railyard Logo" class="location-map rounded px-4"
      /></a>
      <img src="../assets/img/ColchesterCounty.gif" alt="Colchester County Logo" class=" rounded cc-image" />
    </div>
    <div class="text-center mobile">
      <a
        href="https://www.google.com/maps/place/745+Young+St,+Truro,+NS+B2N+3Y6/@45.3408945,-63.2682411,789m/data=!3m1!1e3!4m5!3m4!1s0x4b59501abb337e7b:0x819ac7971db094aa!8m2!3d45.3399975!4d-63.2670021"
        target="_blank"
        ><img src="../assets/img/Railyard_Logo.png" alt="Railyard Logo" class="location-map rounded px-4"
      /></a>
      <div class="row py-4">
        <div class="col">
          <img src="../assets/img/TownOfTruro.jpeg" alt="Truro Logo" class=" rounded truro-image float-right" />
        </div>
        <div class="col">
          <img
            src="../assets/img/ColchesterCounty.gif"
            alt="Colchester County Logo"
            class=" rounded cc-image float-left"
          />
        </div>
      </div>
    </div>
  </div>
</div>
